.extend-menu-button {
  border: 2px solid;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  font-size: $biggest-size;
  height: 100px;
  margin: 5px;
  padding: 5px;

  span {
    margin: auto;
  }

  &.disabled {
    cursor: no-drop;
  }
}
