%extend-menu-button {
  display: flex;
  height: 100px;
  margin: 5px;
  padding: 5px;
  border: 2px solid;
  border-radius: 25px;
  font-size: $biggest-size;
  cursor: pointer;

  a, span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.disabled {
    cursor: no-drop;
  }
}
