.dndapp {
  max-width: 600px;
  min-height: 100vh;
  margin-top: 10px;

  &-footer {
    display: flex;
    flex-flow: column;
    font-size: $smallest-size;
    margin-bottom: 10px;
    margin-top: 50px;
    opacity: .66;
  }

  &-selectors {
    display: grid;
    grid-template-columns: 60% 25%;

    .selector {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-lander {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .lander {
      &-button {
        @extend .extend-menu-button;
      }

      &-logo {
        border: 2px solid;
        padding: 5px;
        height: 150px;
        display: flex;
        margin: 5px;
        border-radius: 25px;

        span {
          font-size: $big-size;
          display: flex;
          margin: auto;
        }
      }
    }

    &-extra {
      margin-top: 30px;
      font-size: $medium-size;

      &-button {
        a {
          display: flex;
          flex-flow: column;
          margin-left: auto;
          margin-right: auto;
          margin-top: 30px;
          width: 150px;
          border: 2px solid;
          padding: 10px;
          border-radius: 25px;
          text-decoration: none;
        }
      }
    }
  }

  &-menu {
    display: grid;
    grid-template-columns: 50% 50%;
    animation: zoom .5s ease-in-out;
  }

  &-wrapper {
    position: relative;
  }

  &-dice {
    &-rolls {
      display: flex;
      flex-flow: wrap;
      padding-top: 50px;

      &-title {
        margin: auto;
        padding: 10px 0;
        font-size: $medium-size;
      }
      
      &-roll {
        flex: 0 1 50%;
        margin-bottom: 25px;

        &-label {
          font-size: $biggest-size;
          margin-bottom: 5px;
        }

        span {
          margin: auto;
          font-size: $medium-size;
        }

        &-dice {
          cursor: pointer;
          height: 100px;
          width: 100px;
          display: flex;
          margin: auto;
          border: 2px solid;
          background: $dominant-colour;
          transition-duration: .2s;
          transition: all 1s ease;

          &.rolling {
            transform: rotate(69deg);
            transition-duration: 1s;
            background: $dnd-red;
            transition: all .5s ease;
          }

          &:active {
            transform: rotate(69deg);
            transition-duration: 1s;
            background: $dnd-red;
            transition: all .5s ease;
          }
        }
/*
        &.d100 {

        }

        &.d20 {

        }

        &.d12 {

        }

        &.d10 {

        }

        &.d8 {

        }

        &.d6 {

        }

        &.d4 {

        }

        &.d2 {

        }
*/
      }
    }
  }

  &-navigation {
    z-index: 2;

    &-burger {
      cursor: pointer;
      top: 6px;
      right: 5px;
      position: absolute;
      z-index: 3;
      transition: .25s ease-in-out;


      &-line {
        &::before {
          content: '';
          border-top: 2px solid;
          display: block;
          width: 35px;
          height: 12px;
        }
      }

      svg {
        transform: scale(1.5);
      }

      &:hover {
        transition: .25s ease-in-out;
        transform: scale(1.25);
      }
    }

    &.toggled {
      .dnd-navigation-menu {
        .dndapp-menu {
          .lander {
            &-button {
              @extend .extend-menu-button;
            }
          }
        }
      }
      .dnd-navigation-menu {
        .dndapp-menu {
          position: fixed;
          z-index: 2;
          flex-flow: column;
          margin: auto;
          top: 0;
          left: 0;
          right: 0;
          max-width: 600px;
          padding-top: 60px;

          &::before {
            content: '';
            position: fixed;
            width: 100vw;
            height: 100vh;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            background: $dominant-colour;
          }

          .lander {
            &-button {
              @extend .extend-menu-button;
            }
          }
        }
      }
    }
  }

}

// btn
.btn {
  border: 2px solid;
  border-radius: 25px;
  cursor: pointer;
  margin: 5px 0;
  padding: 10px;

  &.selected {
    border: 2px solid;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }
}

// spell
.spell {
  &-top {
    &-level {
      display: flex;
      position: relative;
    }
  }

  &-name {
    border: 2px solid;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    font-size: $medium-size;
    height: 30px;
    justify-content: center;
    line-height: 1.75;
    margin: 10px 0;
    padding: 10px;
    text-align: left;

    span {
      flex: 0 1 60%;
      overflow: hidden;
    }

    .chevron {
      position: absolute;
      right: 15px;
      transform: rotate(90deg);
      transition: .5s;

      &.opened {
        transform: rotate(0deg);
        transition: .5s;
      }
    }
  }

  &-definitions {
    border: 2px solid;
    border-radius: 25px;
    margin: 0 0 25px;
    padding: 10px;
    text-align: left;
    animation: fade-in .5s ease-in-out;

    div {
      padding: 2px 0;
    }
  }

  &-details {
    border-bottom: 2px solid;
    border-top: 2px solid;
    margin: 10px 0;

    div {
      padding: 2px 0;
    }
  }

  &-description {
    line-height: 20px;

    b {
      line-height: 2.0;
    }
  }

  &-undefined {
    font-size: $medium-size;
    padding: 25px 0;
  }

  &-pin {
    cursor: pointer;
    left: 15px;
    position: absolute;
    top: 18px;
    transform: rotate(-90deg);
    z-index: 1;
  }

  &-dropdown {
    position: relative;
  }

  &-tooltip {
    flex: 0 1 25%;
    font-size: $medium-size;
    opacity: .85;
    text-align: right;
  }
}

// filter
.filter {
  &-wrapper {
    display: flex;
    height: 30px;
    padding: 10px;
    flex-flow: column;
    justify-content: center;
    border: 2px solid;
    cursor: pointer;
    position: relative;
  }

  &-search {
    margin-right: 5px;

    &::after {
      content: '';
      display: flex;
      position: absolute;
      right: 10px;
      top: 26px;
      transform: rotate(165deg);
      width: 15px;
      height: 15px;
      border-right: 2px solid;
      z-index: -1;
    }
    
    &::before {
      content: '';
      display: flex;
      position: absolute;
      width: 15px;
      height: 15px;
      border: 2px solid;
      border-radius: 100%;
      right: 21px;
      top: 12px;
      z-index: -1;
    }
  }

  &-field {
    display: flex;
    flex-flow: column;
    height: 30px;
    border: 2px solid;
    border-radius: 25px;
    padding: 10px;
    background: transparent;
    font-size: $big-size;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer;
  }

  &-dropdown {
    &.hidden {
      display: none;
    }

    &.active {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      margin: auto;
      position: fixed;
      z-index: 3;
      top: 0;
      right: 0;
      left: 0;

      &::before {
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
    }
  }

  &-close {
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }

  &-button {
    &-wrapper {
      flex: 0 1 100%;
    }
  }
}

// other
input {
  &.search {
    &-input {
      display: flex;
      width: -webkit-fill-available;
      height: 30px;
      border: 2px solid;
      border-radius: 25px;
      padding: 10px;
      background: transparent;
      font-size: $big-size;
      margin-bottom: 10px;

      &::placeholder {
        font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
        font-size: $big-size;
      }
    }
  }
}

svg {
  &.spell {
    &-remove {
      &-pin {
        position: absolute;
        top: 18px;
        left: 15px;
        cursor: pointer;
        z-index: 1;
      }
    }
  }
}

// global
.dndapp-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 10px;
}
