.dndapp {
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  margin-top: 10px;

  &-footer {
    display: flex;
    flex-flow: column;
    font-size: $smallest-size;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  &-selectors {
    display: grid;
    grid-template-columns: 60% 25%;

    .selector {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-lander {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .lander {
      &-button {
        @extend .extend-menu-button;
      }

      &-logo {
        border: 2px solid;
        padding: 5px;
        height: 100px;
        display: flex;
        margin: 5px;
        border-radius: 25px;

        span {
          font-size: $biggest-size;
          display: flex;
          margin: auto;
          transform: rotate(-5deg);
          text-align: left;
        }
      }
    }

    &-extra {
      margin-top: 30px;
      font-size: $medium-size;

      &-button {
        a {
          display: flex;
          flex-flow: column;
          margin-left: auto;
          margin-right: auto;
          margin-top: 30px;
          width: 150px;
          border: 2px solid;
          padding: 10px;
          border-radius: 25px;
          text-decoration: none;
        }
      }
    }
  }

  &-menu {
    display: grid;
    grid-template-columns: 50% 50%;
    animation: zoom .5s ease-in-out;
  }

  &-wrapper {
    position: relative;

    &-theme {
      display: flex;
      margin-top: 25px;
      justify-content: center;

      &-picker {
        cursor: pointer;

        &:hover {
          transform: scale(1.25);
          transition: .1s ease-in-out;
        }

        &.dark {
          svg,
          path {
            fill: rgb(56, 56, 56);
          }
        }

        &.light {
          svg,
          path {
            fill: rgb(255, 255, 255);
          }
        }
      }
    }
  }

  &-dice {
    &-rolls {
      display: flex;
      flex-flow: wrap;
      padding-top: 50px;

      &-title {
        margin: auto;
        padding: 10px 0 30px;
        font-size: $medium-size;
      }

      &-roll {
        display: grid;
        grid-template-columns: 20% 20% 40% 20%;
        align-items: center;
        flex: 0 1 100%;
        padding-bottom: 50px;

        &-label {
          margin-bottom: 5px;
        }

        span {
          font-size: $biggest-size;
        }

        &-dice {
          cursor: pointer;
          height: 100px;
          width: 100px;
          display: flex;
          transition-duration: .2s;
          transition: all 1s ease;
          margin-right: 50px;

          &.rolling {
            transform: rotate(69deg);
            transition-duration: 1s;
            background: $dnd-red;
            transition: all .5s ease;
          }

          &:active {
            transform: rotate(123deg);
            transition: all .5s ease-in-out;
          }
        }
/*
        &.d100 {

        }

        &.d20 {

        }

        &.d12 {

        }

        &.d10 {

        }

        &.d8 {

        }

        &.d6 {

        }

        &.d4 {

        }

        &.d2 {

        }
*/
      }
    }
  }

  &-navigation {
    z-index: 2;

    &-burger {
      cursor: pointer;
      top: 6px;
      right: 5px;
      position: absolute;
      z-index: 3;
      transition: .25s ease-in-out;


      &-line {
        &::before {
          content: '';
          border-top: 2px solid;
          display: block;
          width: 35px;
          height: 12px;
        }
      }

      &:hover {
        transition: .25s ease-in-out;
        transform: scale(1.25);
      }
    }

    &.toggled {
      .dnd-navigation-menu {
        .dndapp-menu {
          .lander {
            &-button {
              @extend .extend-menu-button;
            }
          }
        }
      }

      .dnd-navigation-menu {
        .dndapp-menu {
          position: fixed;
          z-index: 2;
          flex-flow: column;
          margin: auto;
          top: 0;
          left: 0;
          right: 0;
          max-width: 600px;
          padding-top: 60px;

          &::before {
            content: '';
            position: fixed;
            width: 100vw;
            height: 100vh;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
          }

          .lander {
            &-button {
              @extend .extend-menu-button;
            }
          }
        }
      }
    }
  }

  &-npcrandomizer {
    &-choices {
      &-title {
        margin-bottom: 10px;
      }

      &-btns {
        display: grid;
        grid-template-columns: 50% 50%;
        padding-bottom: 20px;

        &-btn {
          @extend .btn;

          &.disabled {
            cursor: no-drop;
          }
        }
      }

      &-card {
        &-details {
          &-list {
            &-top {
              border: 2px solid;
              border-radius: 25px;

              &-names {
                display: grid;
                grid-template-columns: 50% 50%;
                border-bottom: 2px solid;
                margin-bottom: 10px;
                align-items: center;

                h2 {
                  &:first-child {
                    border-right: 2px solid;
                  }
                }
              }

              &-misc {
                display: flex;
                flex-flow: column;
                text-align: left;
                padding-left: 10px;
                padding-bottom: 10px;
              }
            }

            &-racial-features {
              &-title {
                border-top: 2px solid;
                border-bottom: 2px solid;
                margin-bottom: 10px;
              }

              &-values {
                display: inline-grid;
                text-align: left;
                padding-left: 10px;

                &-value {
                  margin-bottom: 10px;
                }
              }
            }

            &-class {
              margin-top: 15px;
              border: 2px solid;
              border-radius: 25px;

              &-top {
                &-name {
                  display: grid;
                  border-bottom: 2px solid;
                  margin-bottom: 10px;
                  align-items: center;
                }

                &-stats {
                  display: flex;
                  flex-flow: column;
                  text-align: left;
                  padding-left: 10px;
                  padding-bottom: 10px;
                }
              }

              &-stats {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                border-bottom: 2px solid;
                border-top: 2px solid;

                span {
                  padding-top: 10px;
                  padding-bottom: 10px;

                  &:not(:last-child) {
                    border-right: 2px solid;
                  }
                }
              }

              &-attributes {
                &-saving-throws {
                  display: flex;
                  flex-flow: row;
                  text-align: left;
                  padding-left: 10px;
                  padding-bottom: 10px;
                  padding-top: 10px;
                  border-bottom: 2px solid;

                  span {
                    padding-right: 5px;
                  }
                }

                &-misc {
                  display: flex;
                  flex-flow: column;
                  text-align: left;
                  padding-left: 10px;
                  padding-bottom: 10px;
                  padding-top: 10px;
                }
              }

              &-skills,
              &-features,
              &-actions,
              &-reactions {
                display: flex;
                flex-flow: column;
                text-align: left;
                padding-left: 10px;
                border-top: 2px solid;
                padding-top: 10px;

                &-value {
                  margin-bottom: 10px;
                }
              }
            }
          }

          &-racial-extra {
            &-features {
              &-title {
                border-top: 2px solid;
                border-bottom: 2px solid;
                margin-bottom: 10px;
              }

              &-list {
                text-align: left;
                padding-left: 10px;

                &-value {
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }

  }
}

// btn
.btn {
  border: 2px solid;
  border-radius: 25px;
  cursor: pointer;
  margin: 5px 0;
  padding: 10px;

  &.selected {
    border: 2px solid;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }
}

// item
.item {
  &-top {
    &-level {
      display: flex;
      position: relative;
    }
  }

  &-name {
    border: 2px solid;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    font-size: $medium-size;
    height: 30px;
    justify-content: center;
    line-height: 1.75;
    margin: 10px 0;
    padding: 10px;
    text-align: left;

    .chevron {
      position: absolute;
      right: 15px;
      transform: rotate(90deg);
      transition: .5s;

      &.opened {
        transform: rotate(0deg);
        transition: .5s;
      }
    }
  }

  &-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: auto;
    margin-left: 35px;
  }

  &-definitions {
    border: 2px solid;
    border-radius: 25px;
    margin: 0 0 25px;
    padding: 10px;
    text-align: left;
    animation: fade-in .5s ease-in-out;

    .item-can-cast {
      border-top: 2px solid;
      padding-top: 10px;
      padding-bottom: 3px;
      margin-top: 10px;
    }
  }

  &-details {
    border-bottom: 2px solid;
    border-top: 2px solid;
    margin: 10px 0;
    padding: 10px 0;
  }

  &-description {
    line-height: 20px;

    p {
      margin-top: 0;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-undefined {
    font-size: $medium-size;
    padding: 25px 0;
  }

  &-pin {
    cursor: pointer;
    left: 6px;
    position: absolute;
    top: 8px;
    z-index: 1;
  }

  &-damage-icon {
    margin-right: 15px;
  }

  &-dropdown {
    position: relative;
  }

  &-tooltip {
    display: flex;
    margin-right: 35px;
    font-size: $medium-size;
    opacity: .85;
    white-space: nowrap;
  }
}

// filter
.filter {
  &-wrapper {
    display: flex;
    height: 30px;
    padding: 10px;
    flex-flow: column;
    justify-content: center;
    border: 2px solid;
    cursor: pointer;
    position: relative;
  }

  &-search {
    margin-right: 5px;

    &::after {
      content: '';
      display: flex;
      position: absolute;
      right: 10px;
      top: 26px;
      transform: rotate(165deg);
      width: 15px;
      height: 15px;
      border-right: 2px solid;
      z-index: -1;
    }

    &::before {
      content: '';
      display: flex;
      position: absolute;
      width: 15px;
      height: 15px;
      border: 2px solid;
      border-radius: 100%;
      right: 21px;
      top: 12px;
      z-index: -1;
    }
  }

  &-field {
    display: flex;
    flex-flow: column;
    height: 30px;
    border: 2px solid;
    border-radius: 25px;
    padding: 10px;
    background: transparent;
    font-size: $big-size;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer;
  }

  &-dropdown {
    &.hidden {
      display: none;
    }

    &.active {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      margin: auto;
      position: absolute;
      z-index: 3;
      top: 0;
      right: 0;
      left: 0;

      &::before {
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
    }
  }

  &-close {
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }

  &-button {
    &-wrapper {
      flex: 0 1 100%;
    }
  }
}

// other
input {
  &.search {
    &-input {
      display: flex;
      width: stretch;
      height: 30px;
      border: 2px solid;
      border-radius: 25px;
      padding: 10px;
      background: transparent;
      font-size: $big-size;
      margin-bottom: 10px;

      &::placeholder {
        font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
        font-size: $big-size;
      }
    }
  }
}

svg {
  &.item {
    &-remove {
      &-pin {
        position: absolute;
        top: 18px;
        left: 15px;
        cursor: pointer;
        z-index: 1;
      }
    }
  }
}

// global
.dndapp-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  transition: .25s ease-in-out;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 10px;
}

ul {
  margin: 10px 0;
  padding-inline-start: 20px;

  li {
    margin-bottom: 5px;
  }
}
