// Black Theme
.black-theme {
  color: $light-colour;
  background-color: $dominant-colour;

  &.dndapp-main {
    .dndapp {
      &-lander {
        .lander {
          &-button {
            border-color: $light-colour;

            &:hover {
              background-color: $light-colour;
              color: $dominant-colour;
            }

            &.disabled {
              background: #150023;

              &:hover {
                background-color: $dnd-red;
                color: $light-colour;
              }
            }
          }
        }
      }
    
    }
  }

  .btn {
    border-color: $light-colour;

    &.selected {
      border-color: $dominant-colour;
    }
  }

  // selected
  .selected {
    background-color: $light-colour;
    color: $dominant-colour;
  }

  .spell {
    &-definitions,
    &-details,
    &-name {
      border-color: $light-colour;
    }

    &-undefined,
    &-tooltip {
      color: $light-colour;
    }

    &-pin {
      fill: $light-colour;
    }
  }

  .filter {
    &-wrapper {
      border-color: $light-colour;
    }

    &-search {
      &::after,
      &::before {
        border-color: $light-colour;
        color: $light-colour;
      }
    }

    &-field {
      border-color:  $light-colour;
      color: $light-colour;

      &:hover {
        background-color: $light-colour;
        color: $dominant-colour;
      }
    }

    &-dropdown {
      background-color: $dominant-colour;

      &::before {
        background-color: $dominant-colour;
      }
    }

    &-close {
      &::before,
      &::after {
        background-color: $light-colour;
      }
    }
  }

  input {
    &.search {
      &-input {
        border-color: $light-colour;
        color: $light-colour;

        &::placeholder {
          color: $light-colour;
        }
      }
    }
  }

  svg {
    &.spell {
      &-remove {
        &-pin {
          fill: $light-colour;
        }
      }
    }

    path {
      fill: $light-colour;
    }
  }

}
