.dndapp {
  max-width: 600px;
  min-height: 100vh;
}
/*#86242A*/
.dndapp-header {
  font-size: 25px;
  padding-bottom: 15px;
}

.spell-top-level {
  display: flex;
  position: relative;
}

.spell-pin {
  position: absolute;
  right: 30px;
}

.spell-pin:before {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  right: -30px;
  top: -3px;
  border: 2px #d6d6d6 solid;
  border-radius: 100%;
  cursor: pointer;
}

/*.spell-pin.pinned:after {
  content: '';
  display: block;
  height: 4px;
  width: 4px;
  position: absolute;
  right: 8px;
  top: 7px;
  border: 2px #d6d6d6 solid;
  background: #d6d6d6;
  border-radius: 100%;
  cursor: pointer;
}*/

.dndapp-footer {
  display: flex;
  position: sticky;
  flex-flow: column;
  font-size: 10px;
  margin-top: 100px;
  margin-bottom: 10px;
  color: #d6d6d645;
}

.dndapp-selectors {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 10px;
}

.dndapp-selectors .selector {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  border: 2px solid #d6d6d6;
  padding: 5px;
  margin: 3px 0;
  cursor: pointer;
}

.btn.selected {
  border: 2px solid #000000;
}

.btn:not(:last-child) {
  margin-right: 5px;
}

.selected {
  background-color: #d6d6d6;
  color: #000000;
}

.dndapp-data .spell-wrap {
  padding: 5px;
}

.spell-dropdown {
  position: relative;
}

.spell-tooltip {
  position: absolute;
  font-size: 10px;
  color: #d6d6d6;
  left: 15px;
  top: 5px;
  opacity: .85;
}

.spell-name {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 5px;
  border: 2px solid #d6d6d6;
  padding: 10px;
  cursor: pointer;
  height: 30px;
  font-size: 20px;
}

.filter-search {
  flex: 1 1 80%;
  position: relative;
}

.filter-filter {
  flex: 1 1 20%;
  position: relative;
}

.filter-field {
  display: flex;
  flex-flow: column;
  height: 30px;
  border: 2px solid #d6d6d6;
  padding: 10px;
  color: #ffffff;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  justify-content: center;
  cursor: pointer;
}

.filter-field:hover {
  background-color: #d6d6d6;
  color: #000000;
}

.filter-wrapper {
  display: flex;
  height: 30px;
  padding: 10px;
  flex-flow: column;
  justify-content: center;
  border: 2px solid #d6d6d6;
  cursor: pointer;
  position: relative;
}

.filter-dropdown.hidden {
  display: none;
}

.filter-close {
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.filter-close::before {
  content: '';
  height: 40px;
  width: 2px;
  right: 10px;
  display: block;
  position: absolute;
  margin: auto;
  cursor: pointer;
  background: white;
  transform: rotate(45deg);
}

.filter-close::after {
  content: '';
  height: 40px;
  width: 2px;
  right: 10px;
  display: block;
  position: absolute;
  margin: auto;
  cursor: pointer;
  background: white;
  transform: rotate(-45deg);
}

.filter-dropdown.active {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: auto;
  position: fixed;
  background-color: black;
  z-index: 1;
  padding: 10px 0 20px;
  top: 0;
  right: 0;
  left: 0;
}

.filter-dropdown.active::before {
  background: black;
  right: 0;
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
}

.filter-button-wrapper {
  flex: 0 1 100%;
}

.hide-child .spell-name::after,
.hide-child.filter-wrapper::after {
  content: '+';
  position: absolute;
  right: 20px;
}

.spell-name::after,
.filter-wrapper::after {
  content: '-';
  position: absolute;
  right: 20px;
}

.spell-definitions {
  border: 2px solid #d6d6d6;
  margin: 0 5px 25px 5px;
  padding: 10px;
  text-align: left;
}

.spell-definitions > div {
  padding: 2px 0;
}

.spell-details {
  border-top: 2px solid #d6d6d6;
  border-bottom: 2px solid #d6d6d6;
  margin: 10px 0;
}

.spell-details > div {
  padding: 2px 0;
}

.spell-description {
  line-height: 20px;
}

.spell-description b {
  line-height: 2.0;
}

input.search-input {
  display: flex;
  width: -webkit-fill-available;
  height: 30px;
  border: 2px solid #d6d6d6;
  padding: 10px;
  color: #ffffff;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

input.search-input::placeholder {
  font-size: 18px;
  color: #d6d6d6;
}

.filter-search::after {
  content: '';
  display: flex;
  position: absolute;
  right: 10px;
  top: 26px;
  transform: rotate(165deg);
  color: white;
  width: 15px;
  height: 15px;
  border-right: 2px white solid;
  z-index: -1;
}

.filter-search::before {
  content: '';
  display: flex;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 100%;
  right: 21px;
  top: 12px;
  z-index: -1;
}

.spell-undefined {
  font-size: 20px;
  padding: 25px 0;
  color: #d6d6d6;
}
