.dndapp {
  max-width: 600px;
  min-height: 100vh;
}

.dndapp-header {
  color: #ffffff;
  font-size: 50px;
}

.dndapp-selectors {
  display: flex;
  flex-flow: column;
}

.dndapp-selectors .selector {
  padding: 15px 5px;
  margin: 15px 0;
}