// vars
$dnd-red: #86242A;
$black: #000;
$light-white: #d6d6d6;
$dark-white: #444;

.dark-theme {
  color: $light-white;

  &.dndapp {
    .dndapp {
      &-footer {
        color: $dark-white;
      }
    }
  }

  .btn {
    border-color: $light-white;

    &.selected {
      border-color: $black;
    }
  }

  // selected
  .selected {
    background-color: $light-white;
    color: $black;
  }

  .spell {
    &-definitions,
    &-details,
    &-name {
      border-color: $light-white;
    }

    &-undefined,
    &-tooltip {
      color: $light-white;
    }

    &-pin {
      fill: $light-white;
    }
  }

  .filter {
    &-wrapper {
      border-color: $light-white;
    }

    &-search {
      &::after,
      &::before {
        border-color: $light-white;
        color: $light-white;
      }
    }

    &-field {
      border-color:  $light-white;
      color: $light-white;

      &:hover {
        background-color: $light-white;
        color: $black;
      }
    }

    &-dropdown {
      background-color: $black;

      &::before {
        background-color: $black;
      }
    }

    &-close {
      &::before,
      &::after {
        background-color: $light-white;
      }
    }
  }

  input {
    &.search {
      &-input {
        border-color: $light-white;
        color: $light-white;

        &::placeholder {
          color: $light-white;
        }
      }
    }
  }

  svg {
    &.spell {
      &-remove {
        &-pin {
          fill: $light-white;
        }
      }
    }
  }

}

// global
html {
  align-items: center;
  background-color: $black;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 10px;
}

// dndapp
.dndapp {
  max-width: 600px;
  min-height: 100vh;

  &-header {
    font-size: 25px;
    padding-bottom: 15px;
  }

  &-footer {
    display: flex;
    flex-flow: column;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 100px;
    position: sticky;
  }

  &-selectors {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    position: relative;

    .selector {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-data {
    .spell {
      &-wrap {
        padding: 5px;
      }
    }
  }

}

// btn
.btn {
  border: 2px solid;
  cursor: pointer;
  margin: 3px 0;
  padding: 5px;

  &.selected {
    border: 2px solid;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }
}

// spell
.spell {
  &-top {
    &-level {
      display: flex;
      position: relative;
    }
  }

  &-name {
    &::after {
      content: '-';
      position: absolute;
      right: 20px;
    }
  }

  &-definitions {
    border: 2px solid;
    margin: 0 5px 25px 5px;
    padding: 10px;
    text-align: left;

    div {
      padding: 2px 0;
    }
  }

  &-details {
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin: 10px 0;

    div {
      padding: 2px 0;
    }
  }

  &-description {
    line-height: 20px;

    b {
      line-height: 2.0;
    }
  }

  &-undefined {
    font-size: 20px;
    padding: 25px 0;
  }

  &-pin {
    position: absolute;
    top: 18px;
    left: 15px;
    cursor: pointer;
    z-index: 1;
    transform: rotate(-90deg);
  }

  &-dropdown {
    position: relative;
  }

  &-tooltip {
    font-size: 20px;
    opacity: .85;
    flex: 0 1 25%;
    text-align: right;
  }

  &-name {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 5px;
    border: 2px solid;
    padding: 10px;
    cursor: pointer;
    height: 30px;
    font-size: 20px;
    flex-flow: row;
    text-align: left;
    line-height: 1.5;

    span {
      flex: 0 1 60%;
      overflow: hidden;
    }
  }
}

// filter
.filter {
  &-wrapper {
    display: flex;
    height: 30px;
    padding: 10px;
    flex-flow: column;
    justify-content: center;
    border: 2px solid;
    cursor: pointer;
    position: relative;

    &::after {
      content: '-';
      position: absolute;
      right: 20px;
    }
  }

  &-search {
    flex: 1 1 80%;
    position: relative;

    &::after {
      content: '';
      display: flex;
      position: absolute;
      right: 10px;
      top: 26px;
      transform: rotate(165deg);
      width: 15px;
      height: 15px;
      border-right: 2px solid;
      z-index: -1;
    }
    
    &::before {
      content: '';
      display: flex;
      position: absolute;
      width: 15px;
      height: 15px;
      border: 2px solid;
      border-radius: 100%;
      right: 21px;
      top: 12px;
      z-index: -1;
    }
  }

  &-filter {
    flex: 1 1 20%;
    position: relative;
  }

  &-field {
    display: flex;
    flex-flow: column;
    height: 30px;
    border: 2px solid;
    padding: 10px;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer;
  }

  &-dropdown {
    &.hidden {
      display: none;
    }

    &.active {
      display: flex;
      flex-wrap: wrap;
      max-width: 600px;
      margin: auto;
      position: fixed;
      z-index: 3;
      padding: 10px 0 20px;
      top: 0;
      right: 0;
      left: 0;

      &::before {
        right: 0;
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        top: 0;
        left: 0;
      }
    }
  }

  &-close {
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    cursor: pointer;

    &::before {
      content: '';
      height: 40px;
      width: 2px;
      right: 10px;
      display: block;
      position: absolute;
      margin: auto;
      cursor: pointer;
      transform: rotate(45deg);
    }

    &::after {
      content: '';
      height: 40px;
      width: 2px;
      right: 10px;
      display: block;
      position: absolute;
      margin: auto;
      cursor: pointer;
      transform: rotate(-45deg);
    }
  }

  &-button {
    &-wrapper {
      flex: 0 1 100%;
    }
  }
}

// other
.hide {
  &-child {
    .spell {
      &-name {
        &::after {
          content: '+';
          position: absolute;
          right: 20px;
        }
      }
    }

    &.filter {
      &-wrapper {
        &::after {
          content: '+';
          position: absolute;
          right: 20px;
        }
      }
    }
  }
}

input {
  &.search {
    &-input {
      display: flex;
      width: -webkit-fill-available;
      height: 30px;
      border: 2px solid;
      padding: 10px;
      background: transparent;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      margin-bottom: 10px;

      &::placeholder {
        font-size: 18px;
      }
    }
  }
}

svg {
  &.spell {
    &-remove {
      &-pin {
        position: absolute;
        top: 18px;
        left: 15px;
        cursor: pointer;
        z-index: 1;
      }
    }
  }
}
