.dndapp {
  max-width: 600px;
  min-height: 100vh;
}

.dndapp-header {
  font-size: 50px;
}

.dndapp-footer {
  display: flex;
  position: sticky;
  flex-flow: column;
  font-size: 10px;
  margin-top: 100px;
  margin-bottom: 10px;
  color: #d6d6d645;
}

.dndapp-selectors {
  display: flex;
  flex-flow: column;
  position: relative;
}

.dndapp-selectors .selector {
  padding: 5px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  border: 2px solid #d6d6d6;
  padding: 5px;
  margin: 3px 0;
  cursor: pointer;
}

.btn:not(:last-child) {
  margin-right: 5px;
}

.btn:hover,
.selected {
  background-color: #d6d6d6;
  color: #000000;
}

.dndapp-data .spell-wrap {
  padding: 5px;
}

.spell-name:hover,
.filter-wrapper:hover {
  background-color: #d6d6d6;
  color: #000000;
}

.spell-dropdown {
  position: relative;
}

.spell-name {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 5px;
  border: 2px solid #d6d6d6;
  padding: 10px;
  cursor: pointer;
}

.filter-wrapper {
  display: flex;
  height: 30px;
  padding: 10px;
  flex-flow: column;
  justify-content: center;
  border: 2px solid #d6d6d6;
  cursor: pointer;
  position: relative;
}

.filter-dropdown {
  border: 2px solid #d6d6d6;
  margin: 5px 0;
  padding: 5px 0;
}

.hide-child .spell-name::after,
.hide-child.filter-wrapper::after {
  content: '+';
  position: absolute;
  right: 20px;
}

.spell-name::after,
.filter-wrapper::after {
  content: '-';
  position: absolute;
  right: 20px;
}

.filter-dropdown.hide-child {
  display: none;
}

.spell-definitions {
  border: 2px solid #d6d6d6;
  margin: 0 5px 25px 5px;
  padding: 10px;
  text-align: left;
}

.spell-definitions > div {
  padding: 2px 0;
}

.spell-details {
  border-top: 2px solid #d6d6d6;
  border-bottom: 2px solid #d6d6d6;
  margin: 10px 0;
}

.spell-details > div {
  padding: 2px 0;
}

.spell-description {
  line-height: 20px;
}

.spell-description b {
  line-height: 2.0;
}

input.search-input {
  display: flex;
  width: -webkit-fill-available;
  height: 30px;
  border: 2px solid #d6d6d6;
  padding: 10px;
  color: #ffffff;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

input.search-input::placeholder {
  font-size: 18px;
  color: #d6d6d6;
}

.dndapp-selectors::after {
  content: '';
  display: flex;
  position: absolute;
  right: 10px;
  top: 26px;
  transform: rotate(165deg);
  color: white;
  width: 15px;
  height: 15px;
  border-right: 1px white solid;
  z-index: -1;
}

.dndapp-selectors::before {
  content: '';
  display: flex;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 100%;
  right: 21px;
  top: 12px;
  z-index: -1;
}
